
cvzone==1.6.1
keras==2.14.0
mediapipe==0.10.7
numpy==1.26.0
opencv-python==4.8.1.78
pandas==1.5.2
scikit-learn==1.2.0
scipy==1.10.0
sympy==1.9
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
